html {
	background-color: #59b274;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	display: flex;
	font-size: 30px;
}

li{
	margin: 0 10px;
}

.container {
	display: grid;
	grid-template-columns: auto auto;
	background-color: aliceblue;
	padding: 30px 0;
	margin: 40px 0;

}


.left-side {
	grid-column-start: 1;
	grid-column-end: 2;
	align-content: center;
}

.right-side {
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 0;
	padding: 0;
}


.card {
	background-color: #f2b0c9;
	height: 100px;
	width: 80px;
	text-align: center;
	margin-top: 20px;
}

.hand {
	margin-top: 60px
}


.top-left {
	position: relative;
	display: inline;
	right: 10px;
}
.top-right {
	position: relative;
	display: inline;
	left: 10px;
}
.bottom-left {
	position: relative;
	display: inline;
	top: 30px;
	right: 10px;
}
.bottom-right {
	position: relative;
	display: inline;
	top: 30px;
	left: 10px;
}


#deck {
	background-image: url(assets/card%20back%20blue.png);
	background-size: 80px 65px;
	height: 65px;
	width: 80px;
	transform: rotate(90deg);
	margin-top: 20px;
	position: relative;
	margin: 40px auto 0 auto;
}

#balance {
	text-align: center;
	position: relative;
	top: 60px;
	color: darkred;
	font-size: 20px;
}

#current-bet {
	position: relative;
	text-align: center;
	top: 80px;
	font-size: 16px;
}
