

html {
	background-color: #59b274;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	font-size: 30px;
}

li{
	margin: 0 20px;
}

.container {
	display: grid;
	grid-template-columns: auto auto;
}


.left-side {
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100px;
}

.right-side {
	grid-column-start: 2;
	grid-column-end: 3;
}


.card {
	background-color: #FFFFFF;
	height: 100px;
	width: 80px;
	text-align: center;
}


.top-left {
	position: relative;
	display: inline;
	right: 10px;
}
.top-right {
	position: relative;
	display: inline;
	left: 10px;
}
.bottom-left {
	position: relative;
	display: inline;
	top: 30px;
	right: 10px;
}
.bottom-right {
	position: relative;
	display: inline;
	top: 30px;
	left: 10px;
}


#deck {
	background-image: url(assets/card%20back%20blue.png);
	background-size: 80px 65px;
	height: 65px;
	width: 80px;

}

#balance {
	text-align: center;
	position: relative;
	top: 60px;
	color: darkred;
	font-size: 20px;
}

